@import url(./header.css);
@import url(./content.css);
@import url(./button.css);
@import url(./text.css);
@import url(./card.css);
@import url(./post.css);
@import url(./comment.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 400px;
  margin: auto;
}
